/******************************
    GENERAL STYLES
*******************************/

/* -- RESET -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #273f4e;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.container {
    width: 960px;
    margin: 25px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 85px;
    aspect-ratio: 1;
    margin: 5px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzz {
    background-color: #f2d279;
}

.fizz {
    background-color: #77d1a5;
}

.fizzbuzz {
    background-color: #d35972;
}

.buzz, .fizz, .fizzbuzz {
    color: black;
    font-weight: bold;
}